<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Platos</title>
</head>
<body>
    <a href="{%url 'homePlatos' %}">
        <button>Homepage de Platos</button>
    </a>
    <br><br>
    <a href="{%url 'platoNuevo'%}">
        <button>Crear Nuevo Plato</button>
    </a>
    <ul>

        {% for plato in platos %}
        <li>
            <p>
                Plato ID: {{plato.id}} <br>
                Nombre: {{plato.nombre}}<br>
                Precio: {{plato.precio}} <br>
                <a href=" {% url 'editarPlato' plato.id %} ">
                    <button>Editar Plato</button>
                </a>
                <a href=" {% url 'borrarPlato' plato.id %} "onclick="return mostrarAlerta()">
                    <button>Borrar Plato</button>
                </a>
                
            </p>
        </li>
        {% endfor %}
    </ul>
    <script>
        function mostrarAlerta(){
            return confirm("¿estas seguro que queres borrar el plato?")
        }
    </script>
</body>
</html>