<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ordenes</title>
</head>
<body>
    <a href="{%url 'ordenNueva'%}">
        <button>Crear Nueva orden</button>
    </a>
    <ul>
        <h2>Ordenes en curso</h2>
        {% for orden in ordenes %}
        <li>
            <p>
                Orden ID: {{orden.id}} <br>
                Mesa: {{orden.mesa}} <br>
                Platos: <ul> {% for plato in orden.plato.all %}
                    <li>
                        <p>{{plato}}</p>
                    </li>
                    {% endfor %}
                </ul>
                <a href=" {% url 'editarOrden' orden.id %} ">
                    <button>Editar Orden</button>
                </a>
                <br><br>
                <a href=" {% url 'borrarOrden' orden.id %}"onclick="return mostrarAlerta()">
                    <button>Borrar Orden</button>
                </a>
                <a href="{%url 'ordenEstado' orden.id%}">
                    <button>Completar Orden</button>
                </a>
                </ul>
            </p>
        </li>
        <hr>
        {% endfor %}
    </ul>
    <ul>
        <h2>Ordenes Completadas</h2>
        {% for orden in ordenCompleto %}
        <li>
            <p>
                Orden ID: {{orden.id}} <br>
                Mesa: {{orden.mesa}} <br>
                Platos: <ul> {% for plato in orden.plato.all %}
                    <li>
                        <p>{{plato}}</p>
                    </li>
                    {% endfor %}
                </ul>
                Total:{{orden.precioTotal}} <br>
                <br>
                {%if orden.mesa.disponible == True %}
                    <a href="{%url 'ordenEstado' orden.id%}">
                        <button>Reabrir Orden</button>
                    </a>
                {%else%}
                    <p>Mesa no disponible</p>
                {%endif%}
                </ul>
            </p>
        </li>
        <hr>
        {% endfor %}
    </ul>
    <script>
        function mostrarAlerta(){
            return confirm("¿estas seguro que queres borrar la orden?")
        }
    </script>
</body>
</html>