<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Mesas</title>
</head>
<body>
    <ul>
        {% for mesa in mesas %}
        <li>
            <p>
                Numero de mesa: {{mesa.id}} <br>
                Cantidad de cubiertos: {{mesa.cantCubiertos}} 
            </p>
            <a href=" {% url 'editarMesa' mesa.id %} ">
                <button>Editar Mesa</button>
            </a>
            <a href=" {% url 'borrarMesa' mesa.id %} ">
                <button>Borrar Mesa</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>